# Node.js
**/node_modules/
**/dist/
**/npm-debug.log*

# Java / Maven
**/target/
**/*.class
**/*.jar
**/*.war

# IDEs and Editors
.vscode/
.idea/
*.iml

# Environment & Secrets
.env
**/.env
**/.env.local

# OS Files
.DS_Store
Thumbs.db